extend ../layout/common
block content 
    h1 users
        a.btn.btn-primary.ml-2(href='../users/create') Create New User
    .form-group.mt-2
        label(for="") Search user by name
        form(action="/users/search", method="get",class="d-flex")
            input(type="text" ,name="q",class="form-control")
            button(class="btn btn-primary ml-2") search
    table.table.table-border
        tr  
            th Name
            th Phone
            th Action
        each user in users
            tr  
                td= user.name 
                td= user.phone
                td  
                    a(href="/users/view/" + user._id) view

   
    